@{
    ViewData["Title"] = "Home Page";
}

<button b-modal-target="modal">OpenSol</button>

<modal -no-show static-backdrop- no-keyboard no-backdrop- fade id="modal" header="Head" footer="footer" toggle-button-text="Open" toggle-button-context="BootstrapTagHelpers.Forms.ButtonContext.Warning" size="BootstrapTagHelpers.SimpleSize.Small">
    <button b-dismiss-modal>Close</button>
</modal>